<div class="container">
  <div *ngIf="(basketService.basketSource$ | async) === null">
    <p>The Basket is Empty</p>
  </div>

  <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
    <div class="container">
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-light text-uppercase">
              <tr>
                <th class="py-2">Product</th>
                <th class="py-2">Price</th>
                <th class="py-2">Quantity</th>
                <th class="py-2">Total</th>
                <th class="py-2">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of basket.items">
                <th>
                  <div class="p-2-d-inline-block">
                    <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid product-image">
                    <div class="ms-3 d-inline-block align-middle">
                      <h4 class="mb-0">
                        <a routerLink="/shop/{{item.id}}" class="text-dark text-decoration-none">
                          {{ item.productName }}
                        </a>
                      </h4>
                      <span class="text-muted fst-italic">
                        Type: {{item.type}}
                      </span>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <strong>
                    {{ item.price | currency}}
                  </strong>
                </td>
                <td class="align-middle">
                  <div class="d-flex align-items-center">
                    <i
                      class="fa fa-minus-circle text-danger me-2 cursor-pointer product-quantity-adjuster"
                      (click)="removeItem(item.id, 1)"
                    ></i>
                    <strong class="product-quantity">{{item.quantity}}</strong>
                    <i
                      class="fa fa-plus-circle text-success ms-2 cursor-pointer product-quantity-adjuster"
                      (click)="incrementQuantity(item)"
                    ></i>
                  </div>

                </td>
                <td class="align-middle"><strong>{{item.price * item.quantity | currency}}</strong></td>
                <td class="align-middle">
                  <a class="class-danger" (click)="removeItem(item.id, item.quantity)">
                    <i class="fa fa-trash product-quantity-adjuster"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-6">
          <app-order-totals></app-order-totals>
          <div class="d-grid">
            <a routerLink="/checkout" class="btn btn-outline-primary py-2">
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
